#imagen {
    padding-top: 25px;
    width: 400px;
    height: 300px;
}

#div_usuario {
    margin-top: 15px;
}

#div_password {
    margin-top: 5px;
}

#btnIniciar {
    margin-top: 15px;
}

#divRegistrarse {
    margin-top: 10px;
}

#footer_inicio {}