doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    title
      | Blog Home
    // Bootstrap Core CSS
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../css/blog.css', rel='stylesheet')
    // main.css
    link(href='../css/main.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(background='../img/fondo.png')
    .container(style='background-color:#ffffff;')
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top.container(role='navigation')
        .container
          // Brand and toggle get grouped for better mobile display
          #nav_titulos.navbar-header
            a.navbar-brand(href='/app')
              | Home
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='blog')
                  | Posts
              li
                a(href='blog_new')
                  | Nuevo Post
              li
                a(href='#')
                  | Contactos
          // /.navbar-collapse
        // /.container
      // Page Content
      .container
        p#data(hidden="true") #{data}
        script.
          var a = document.getElementById("data").innerHTML;
          var b = a.substring(1,a.length);
          var c = b.substring(0,b.length-1);
          var array = [];
          var matriz = [];
          var matrizFija = [];
          array = c.split("},{");
          var numero_post = array.length;
          for(var i=0;i<array.length;i++){
            matriz[i] = array[i].split(",");
            //- alert(matriz[i][2]);
          }
          for(var i=0;i<array.length;i++){
            matriz[i][0] = matriz[i][0].substring(6,matriz[i][0].length);//id
            matriz[i][1] = matriz[i][1].substring(11,matriz[i][1].length);//titulo
            matriz[i][2] = matriz[i][2].substring(11,matriz[i][2].length);//cuerpo
            matriz[i][3] = matriz[i][3].substring(12,matriz[i][3].length);//usuario
            //alert(matriz[i][3]);
          }
          
          //- alert(c);
          $(document).ready(function(){
            for(var s=0;s<numero_post;s++){
              $('#cuerpo_post').append('<h2><a href="blog_post" style="font-size:26px">'+matriz[s][1]+'</a><p class="lead">por <a href="index.php">Estudiante Anonimo</a></p><p style="font-size:10px"><span class="glyphicon glyphicon-time"></span>Posteado en August 28, 2013 at 10:00 PM</p><hr/><p style="font-size:18px">'+matriz[s][2]+'</p><a class="btn btn-primary" href="blog_post">Leer más<span class="glyphicon glyphicon-chevron-right"></span></a> <hr/></h2>');
            }
            
          });
        .row
          // Blog Entries Column
          .col-md-8
            h1.page-header
              | Blog Del Estudiante
              small
                |  Informate e Informanos
            // First Blog Post
            div#cuerpo_post            
           
            // Pager
            ul.pager
              li.previous
                a(href='#')
                  | ← Older
              li.next
                a(href='#')
                  | Newer →
          // Blog Sidebar Widgets Column
          .col-md-4
            // Blog Search Well
            .well
              h4
                | Blog Busqueda
              .input-group
                input.form-control(type='text')
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-search
              // /.input-group
            // Blog Categories Well
            .well
              h4
                | Blog Categorias
              .row
                .col-lg-6
                  ul.list-unstyled
                    li
                      a(href='#')
                        | Categoria Serie 100
                    li
                      a(href='#')
                        | Categoria Serie 200
                    li
                      a(href='#')
                        | Categoria Serie 300
                    li
                      a(href='#')
                        | Categoria Serie 400
                    li
                      a(href='#')
                        | Categoria Serie 500
                // /.col-lg-6
                .col-lg-6
                // /.col-lg-6
              // /.row
            // Side Widget Well
            .well
              h4
                | Side Widget Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
        // /.row
        hr
        // Footer
        footer
          .row
            .col-lg-12
              p
                | Copyright © Your Website 2014
            // /.col-lg-12
          // /.row
      // /.container
      // jQuery
      script(src='js/jquery.js')
      // Bootstrap Core JavaScript
      script(src='js/bootstrap.min.js')
