doctype html
html(lang='en')
  head
    meta(http-equiv='Page-Enter', content='RevealTrans(Duration=4,Transition=2)')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Guia Del Experta del Estudiante
    // Estilos de Grafos
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='librerias/dist/vis.css')
    script(type='text/javascript', src='librerias/dist/vis.js')
    link(href='librerias/dist/vis-network.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // tipo de letra patua
    link(href='https://fonts.googleapis.com/css?family=Courgette', rel='stylesheet')
  body(background='img/fondo.png')

    .container
      // CABECERA
      header.base_cabecera.row
        .row
          .col-xs-8.col-md-3
            a(href='http://www.unsch.edu.pe/', target='_self ')
              img.mediano(src='img/logo_unsch.png')
          .cols-xs-1.col-md-6.text-center
            h1.letra_Patua_One Guia Experta del Estudiante
          .col-xs-8.col-md-3
            a(href='https://www.facebook.com/groups/1425237611081130/?fref=ts', target='_self ')
              img.mediano.derecha(src='img/logo_is.jpg')
      // Navegacion
      nav.base_navegacion.text-center.row
        .container
          ul(style='list-style:none; padding:0;')
            li.col-md-4
              a(href='/index', style='text-decoration: none; color:#FFFFFF;')
                h4.letra_mediano
                  span.glyphicon.glyphicon-home(aria-hidden='true')
                  |  Home
            li.col-md-4
              a(href='/estadisticas', style='text-decoration: none; color:#FFFFFF;')
                h4.letra_mediano
                  span.glyphicon.glyphicon-signal(aria-hidden='true')
                  |  Estadisticas
            li.col-md-4
              a(href='/blog', style='text-decoration: none; color:#FFFFFF;')
                h4.letra_mediano
                  span.glyphicon.glyphicon-file(aria-hidden='true')
                  |  Blog
          // Trigger the modal with a button
      // Contenido
      #cuerpo.row
        .col-md-2.base_perfil
          #div_titulo_configuracion.row.base_serie.text-center.bordes-sin-derecha(style='padding-top:1px')
            label.letra_serie(for='') USUARIO
          #perfil.row
            .col-md-1
            .col-md-5.container.center-block
              p
              img.img-circle.pequenio.img_center(src='img/perfil.jpg')
            .col-md-3.dropdown
              br
              br
              button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                span.glyphicon.glyphicon-cog(aria-hidden='true')
              ul.dropdown-menu
                li
                  a(href='#') Tu Nombre
                li
                  a(href='/configuracion') Configuracion
                li
                  a(href='/') Salir
            .col-md-1
          .row.text-center
            .col-md-1
            #div_configuracion.col-md-10(style='padding-left: 2px;')
              strong Caracteristicas del Curso
            .col-md-1
        // CUERPO
        .col-md-10.text-justify.base_cuerpo(style='background-color:#0A2A22')
          .row.text-center
            .col-md-1.bordes.base_serie
              label.letra_serie(for='') 100-I
            .col-md-1.bordes-top.base_serie
              label.letra_serie(for='') 100-II
            .col-md-1.bordes.base_serie
              label.letra_serie(for='') 200-I
            .col-md-1.bordes-top.base_serie
              label.letra_serie(for='') 200-II
            .col-md-1.bordes.base_serie
              label.letra_serie(for='') 300-I
            .col-md-1.bordes-top.base_serie
              label.letra_serie(for='') 300-II
            .col-md-1.bordes.base_serie
              label.letra_serie(for='') 400-I
            .col-md-1.bordes-top.base_serie
              label.letra_serie(for='') 400-II
            .col-md-1.bordes.base_serie
              label.letra_serie(for='') 500-I
            .col-md-1.bordes-top.bordes-right.base_serie
              label.letra_serie(for='') 500-II
            .col-md-2.base_serie.bordes-top.bordes-right
              label.letra_serie(for='') LEYENDA
          .row
            #myRed.col-md-10.base_malla
            #div_leyenda.col-md-2.base_leyenda.bordes-top
              strong
                p.letra_Patua_One Aprobados
              canvas#aprobado(width='80', height='50', style='background-color:#ffffff')
              script.
                var canvas = document.getElementById('aprobado');
                var context = canvas.getContext('2d');
                context.beginPath();
                context.rect(10, 10, 60, 30);
                context.fillStyle = '#81BEF7';
                context.fill();
                context.lineWidth = 1;
                context.strokeStyle = 'black';
                context.stroke();
              strong
                p.letra_Patua_One No Aprobados
              canvas#noAprobado(width='80', height='50', style='background-color:#ffffff')
              script.
                var canvas = document.getElementById('noAprobado');
                var context = canvas.getContext('2d');
                context.beginPath();
                context.rect(10, 10, 60, 30);
                context.fillStyle = 'gray';
                context.fill();
                context.lineWidth = 1;
                context.strokeStyle = 'black';
                context.stroke();
              strong
                p.letra_Patua_One puedes llevar
              canvas#puedeLlevar(width='80', height='50', style='background-color:#ffffff')
              script.
                var canvas = document.getElementById('puedeLlevar');
                var context = canvas.getContext('2d');
                context.beginPath();
                context.rect(10, 10, 60, 30);
                context.fillStyle = 'white';
                context.fill();
                context.lineWidth = 1;
                context.strokeStyle = 'black';
                context.stroke();
              
      div
        // MENSAJE INFORMATIVO
        .div_cursos
          // 100 I
          // MA143
          button#btnMa143.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma143', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma143.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Calculo I
                .modal-body
                  p Cálculo I
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS141
          button#btnIs141.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Algoritmos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // LE141
          button#btnLe141.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#le141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #le141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Comunicación Oral y Escrita
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // EC141
          button#btnEc141.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ec141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ec141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Economía
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MA141
          button#btnMa141.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Matemática Básica
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MD141
          button#btnMd141.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#md141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #md141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Método del Estudio Universitario
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // CC121
          button#btnCc121.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#cc141', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #cc141.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Computación Básica
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // EF122
          button#btnEf122.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ef122', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ef122.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Deportes Menores
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 100 II
          // AC121
          button#btnAc121.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ac121', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ac121.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Folklore
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MA142
          button#btnMa142.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma142', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma142.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Matemática Discreta
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD142
          button#btnAd142.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad142', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad142.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Administración General
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS142
          button#btnIs142.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is142', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is142.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Programación Orientada a Objetos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // EC142
          button#btnEc142.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ec142', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ec142.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Microeconomía
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // FS142
          button#btnFs142.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#fs142', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #fs142.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Física I
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MA144
          button#btnMa144.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma144', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma144.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Cálculo II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 200 I
          // FS241
          button#btnFs241.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#fs241', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #fs241.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Física II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MA241
          button#btnMa241.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma241', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma241.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Álgebra Lineal
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS241
          button#btnIs241.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is241', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is241.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Estructura de Datos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // EC241
          button#btnEc241.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ec241', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ec241.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Macroeconomía
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // ES241
          button#btnEs241.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#es241', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #es241.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Estadística I
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // MA243
          button#btnMa243.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ma243', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ma243.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Cálculo III
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 200 II
          // IS244
          button#btnIs244.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is244', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is244.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Eléctricos y Electrónicos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS262
          button#btnIs262.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is262', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is262.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Investigación de Operaciones
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS248
          button#btnIs248.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is248', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is248.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Organización y Métodos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS246
          button#btnIs246.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is246', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is246.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Teoría General de Sistemas
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AC222
          button#btnAc222.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ac222', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ac222.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Arte Musical y Teatral
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS242
          button#btnIs242.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is242', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is242.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Métodos Numéricos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 300 I
          // IS343
          button#btnIs343.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is343', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is343.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Metodología de Sistemas Blandos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS341
          button#btnIs341.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is341', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is341.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Digitales y Arquitectura de Computadoras
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS347
          button#btnIs347.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is347', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is347.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Investigación de Operaciones II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS345
          button#btnIs345.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is345', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is345.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Planeamiento de Sistemas de Información
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // CS321
          button#btnCs321.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#cs321', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #cs321.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Realidad Nacional
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // CS341
          button#btnCs341.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#cs341', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #cs341.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Liderazgo
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // CO341
          button#btnCo341.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#co341', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #co341.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Contabilidad General
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 300 II
          // IS344
          button#btnIs344.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is344', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is344.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Operativos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS342
          button#btnIs342.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is342', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is342.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Teoría de Decisiones
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS348
          button#btnIs348.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is348', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is348.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Modelamiento de Datos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS346
          button#btnIs346.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is346', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is346.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Dinámicos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS362
          button#btnIs362.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is362', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is362.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas de Información I
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // CO342
          button#btnCo342.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#co342', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #co342.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistema de Costos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 400 I
          // IN441
          button#btnIn441.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#in441', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #in441.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Inglés I
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS441
          button#btnIs441.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is441', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is441.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Redes de Computadoras
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD441
          button#btnAd441.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad441', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad441.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Logística
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS443
          button#btnIs443.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is443', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is443.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Administración de Base de Datos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS445
          button#btnIs445.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is445', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is445.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas de Información II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS451
          button#btnIs451.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is451', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is451.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Ingeniería de la Información
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // EC441
          button#btnEc441.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ec441', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ec441.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Ingeniería Económica
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD451
          button#btnAd451.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad451', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad451.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Ingeniería de Software
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS453
          button#btnIs453.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is453', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is453.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Creatividad Empresarial
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 400 II
          // IN442
          button#btnIn442.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#in442', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #in442.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Inglés II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS444
          button#btnIs444.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is444', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is444.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Seguridad Informática
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS454
          button#btnIs454.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is454', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is454.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Desarrollo Web
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS442
          button#btnIs442.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is442', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is442.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Expertos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD444
          button#btnAd444.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad444', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad444.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Gestión de Recursos Humanos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS446
          button#btnIs446.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is446', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is446.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas de Información Gerencial
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD452
          button#btnAd452.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad452', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad452.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Seminario de Empresas
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS452
          button#btnIs452.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is452', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is452.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Calidad Total
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD442
          button#btnAd442.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad442', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad442.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Gestión Financiera
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 500 I
          // IS545
          button#btnIs545.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is545', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is545.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Comercio Electrónico
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS551
          button#btnIs551.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is551', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is551.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Reingeniería de Procesos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS541
          button#btnIs541.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is541', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is541.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Control y Automatización de Procesos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS543
          button#btnIs543.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is543', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is543.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Seminario de Tesis I
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS547
          button#btnIs547.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is547', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is547.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Auditoría de Sistemas
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS553
          button#btnIs553.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is553', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is553.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Sistemas Distribuidos
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD551
          button#btnAd551.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad551', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad551.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Mercadotecnia
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IN541
          button#btnIn541.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#in541', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #in541.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Inglés III
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD541
          button#btnAd541.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad541', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad541.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Proyectos de Inversión
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // 500 II
          // IS546
          button#btnIs546.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is546', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is546.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Prácticas Pre-Profesionales
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // DE542
          button#btnDe542.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#de542', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #de542.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Legislación
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // AD552
          button#btnAd552.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#ad552', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #ad552.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Gestión de Empresas
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS542
          button#btnIs542.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is542', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is542.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Seminario de Tesis II
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS544
          button#btnIs544.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is544', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is544.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Taller de Ingeniería de Sistemas
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS554
          button#btnIs554.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is554', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is554.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Gestión de Centros de Información
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS552
          button#btnIs552.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is552', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is552.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Soporte para la Toma de Decisiones
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IN542
          button#btnIn542.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#in542', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #in542.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Inglés IV
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
          // IS548
          button#btnIs548.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#is548', style='background: transparent; border: none !important; font-size:0;')
          // Modal
          #is548.modal.fade(role='dialog')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Planeamiento Estratégico de Negocios
                .modal-body
                  p
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
        // PROGRESO
        .row
          .col-md-12
            .row.base_progreso
              .col-md-3
              .col-md-6.base_progreso.abajo
                .progress
                  .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%') 20% Complete
              .col-md-3
        // Pie de Pagina
        footer#eventSpan.base_pie.row
          br
          p.MsoNormal(align='center', style='margin-bottom: 0.0001pt; text-align: center; line-height: 9.95pt;')
            b
              span(style='font-family: Arial, sans-serif; color: #000000;') Universidad Nacional de San Cristóbal de Huamanga
          p.MsoNormal(align='center', style='margin-bottom: 0.0001pt; text-align: center; line-height: 9.95pt;')
            span(style='font-weight: bold; font-size: 11px; color: #000000;')
              span(style='font-family: Arial; color: #000000;') Portal Independencia N° 57 Ayacucho   
            span(style='font-family: Arial; font-size: 11px; font-weight: bold; color: #000000;')  Central Telefónico 066-312230 - 066-312510
          p(style='text-align: center;')
            span(style='font-weight: bold;')
              span(style='line-height: 13px;')
                span(style='font-family: Arial; font-size: 11px; color: #000000;')
                  | © Copyright    OGIS -  UNSCH - 2016   Ayacucho
          p.MsoNormal(align='center', style='margin-bottom: 0.0001pt; text-align: center; line-height: 9.95pt;')
            span(style='color: #5D6674; font-family: Arial, sans-serif; font-weight: bold;')
              br
        div#div_cursos
          p#cursos!= curso
          
        // SCRIPT DE MALLA CURRICULAR ACTUAL
        script(type='text/javascript', src='js/grafo.js')
      

        